.bordure {
   border: solid 3px;
   border-radius: 15px;
   padding-left: 20px;
   padding-right: 20px;
   margin-bottom: 2%;
   background-color: white;
   
  
}
.homme  {
   height: 80px;
}
.bordure2 {
   display: flex;
   justify-content: space-between;
}

.rectangle {
   border-radius: 10px;
   border: solid 5px;
   background-color: rgb(162, 157, 182);
   width: fit-content;
   padding: 30px;
}

body{
   display: flex;
   justify-content: center; 
   align-items: center; 
   height: 100vh; 
   margin: 0; 
   font-family: 'Tilt Neon', sans-serif;
   background-color: rgb(236, 235, 240);
}

.rectangle.change {
  text-align: center;
  font-size: 30px;
}

.rectangle.init  {
   text-align: justify;
   font-size: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center; 
   align-items: center; 
   
}

input{
   border-radius: 15px;
   height: 20px;
   width: 200px;
}

select {
   border-radius: 15px;
   height: 20px;
   width: 200px;
}

.boutonvalide {
   height: 30px;
   margin-top: 20%;
   background-color: rgb(37, 32, 32);
   color: aliceblue;
}
