{{define "var"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content ="IE-edge">
    <meta name="viewport" content="width=devicewidth, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
    <title>Route Promo</title>
</head>
<body>
<div class ="rectangle">

    <h1><strong>Informations sur la promotion : </strong></h1>
    <p> <strong>Nom : </strong>{{.Nom}} </p>
    <p> <strong>Filière : </strong>{{.Filière}} </p>
    <p> <strong>Niveau : </strong>{{.Niveau}} </p>
    <p> <strong>Nombre d'étudiant : </strong>{{.NBetudiant}} </p>
    <h1><strong>Liste des étudiants : </strong></h1>
    
        {{range .Etudiants}}
        <div class ="bordure">
            <div class="bordure2">
            <p>{{.Prenom}} {{.Nom}} <br> {{.Age}}</p>
            {{if .Sexe}}
            <img class="homme" src="/static/img/Hommes.png" alt="Siglemasculin">
            {{else}} 
            <img class="homme" src="/static/img/Femme.png" alt="Siglefeminin">
            {{end}}
            </div>
            
        </div>
            {{end}}
        </div>  
    </body>
    </html>
{{end}}